<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Carosel</title>
</head>
<body>
    
<div id="app">
    <div id="container">
        <div id="container-carosello">
  
            <div id="carosello" >

                <div id="items-container">
                  
                  
                  
                  
                  
                  
                  
                  
                  
                    <div class="item active">
                        <img v-for="immagine in imagCarosello" :src="immagine.image[activeImage]" alt="img1">
                    </div>
                
                    <!-- <div class="item">
                        <img src="img/01.webp" alt="img1">
                    </div>

                    <div class="item">
                        <img src="img/02.webp" alt="img1">
                    </div>

                    <div class="item">
                        <img src="img/03.webp" alt="img1">
                    </div>

                    <div class="item">
                        <img src="img/05.webp" alt="img1">
                    </div> -->


                    <div class="text">
                        <h1>title</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem minus mollitia architecto fuga perspiciatis cumque ea recusandae, a porro deleniti magni libero consequuntur error, vero, ipsum beatae temporibus ut inventore.</p>
                    </div>

                    <div class="thumb">

                        <img v-for="immagine in imagCarosello" :src="immagine.image[activeImage]" alt="img1">
                    
                    </div>
                        
                    <div id="up">
                        <i class="fa-solid fa-arrow-up"></i>
                    </div>
                    
                    <div id="under">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/carosel.js"></script>
</body>
</html>